## Deliverable 3. Create a Travel Itinerary Map.

In [32]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [33]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,San Patricio,US,73.26,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"
1,1,Eyl,SO,78.67,clear sky,7.9803,49.8164,Amiin Hotel
2,3,Cape Town,ZA,65.12,few clouds,-33.9258,18.4232,Southern Sun Waterfront Cape Town
3,4,Chabahar,IR,76.51,clear sky,25.2919,60.6430,هتل گدروشیا
4,5,Port Alfred,ZA,67.30,overcast clouds,-33.5906,26.8910,The Halyards Hotel

In [34]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [35]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Nimbahera")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Nimbahera")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Shamgarh")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Jhalawar")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Anta")]

In [37]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}')

Stop 1: (24.1833, 75.6333), Stop 2: (24.6, 76.15), Stop 3: (25.15, 76.3)

In [38]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
from matplotlib import pyplot as plt
fig = gmaps.figure()
itinerary_df = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')


fig.add_layer(itinerary_df)
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
plt.savefig('WeatherPy_travel_map.png', dpi=300, bbox_inches='tight')

In [40]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3], ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1608,Nimbahera,IN,74.98,clear sky,24.6167,74.6833,Royal Paras Hotel
1,110,Shamgarh,IN,73.78,clear sky,24.1833,75.6333,Hotel Shree Onkar Palace
2,1758,Jhalawar,IN,76.39,clear sky,24.6000,76.1500,Maan Singh palace Hotel & Resort
3,882,Anta,IN,74.16,clear sky,25.1500,76.3000,Agnisaman Kendra

In [44]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [46]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
plt.savefig('WeatherPy_travel_map_markers.png', dpi=300, bbox_inches='tight')